<!-- <p>passwords works!</p>
<button (click)="logout()">LOGOUT</button> -->

<div class="container">
  <div class="passwords-list-container">
    <div class="header">
      <div class="header-actions">
        <img
          src="assets/icons/icon-512x512.png"
          style="max-height: 48px; max-width: 48px; margin-bottom: 0.5rem"
        />
        <div class="visibility-switch">
          <div
            class="visibility-switch-btn"
            [ngClass]="{ active: visibilityType == 'list' }"
            (click)="visibilityType = 'list'"
          >
            <fa-icon
              [icon]="faList"
              style="display: flex; align-items: center"
            ></fa-icon>
          </div>
          <div
            class="visibility-switch-btn"
            [ngClass]="{ active: visibilityType == 'grid' }"
            (click)="visibilityType = 'grid'"
          >
            <fa-icon
              [icon]="faGrip"
              style="display: flex; align-items: center"
            ></fa-icon>
          </div>
        </div>
        <div
          class="action-btn"
          #actionBtn
          (click)="actionContextVisible = !actionContextVisible"
        >
          <fa-icon
            [icon]="faGear"
            style="display: flex; align-items: center"
          ></fa-icon>
        </div>
        <div
          class="header-actions-context prevent-select"
          [ngClass]="{ visible: actionContextVisible }"
          #actionContext
        >
          <div class="header-actions-context-item" (click)="fileImport.click()">
            <input
              #fileImport
              type="file"
              id="file"
              style="display: none;"
              (change)="handleFileInput($event)"
            />
            <fa-icon [icon]="faFileImport"></fa-icon>
            IMPORT
          </div>
          <div class="header-actions-context-item" (click)="export()">
            <fa-icon [icon]="faFileExport"></fa-icon>
            EXPORT
          </div>
          <div class="header-actions-context-item" [routerLink]="['/settings']">
            <fa-icon [icon]="faSliders"></fa-icon>
            SETTINGS
          </div>
          <div class="header-actions-context-item" [routerLink]="['/gdpr']">
            <fa-icon [icon]="faInfo"></fa-icon>
            ABOUT
          </div>
          <div class="header-actions-context-item" (click)="logout()">
            <fa-icon [icon]="faRightFromBracket"></fa-icon>
            LOGOUT
          </div>
        </div>
      </div>
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          position: relative;
        "
      >
        <div class="username">Hello {{ authSvc.username }}</div>
        <div style="display: flex; align-items: center">
          <div style="margin-bottom: -10px; margin-right: 1rem">
            <img src="assets/nezuko.png" style="max-width: 62px" />
          </div>
          <div class="action-btn" #actionBtn routerLink="new">
            <fa-icon
              [icon]="faAdd"
              style="display: flex; align-items: center; max-height: 14px"
            ></fa-icon>
          </div>
        </div>
      </div>
    </div>
    <hr class="primary-hr" style="margin-top: .25rem" />
    <div class="search" style="margin-top: 0.5rem">
      <input
        type="text"
        autocomplete="off"
        placeholder="Search"
        [(ngModel)]="searchTxt"
      />
    </div>
    <div [class]="'passwords-list ' + visibilityType">
      <div
        *ngFor="let password of filteredPasswords"
        class="password-list-item"
        [routerLink]="[password._id]"
      >
        <div class="password-name">
          <span>
            {{ password.name }}
          </span>
          <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
        </div>
        <hr />
        <div class="password-list-item-actions prevent-select">
          <div
            [cdkCopyToClipboard]="password.login ?? ''"
            (cdkCopyToClipboardCopied)="showCopiedPopup()"
            (click)="$event.stopPropagation()"
            style="padding-left: 0.5rem"
          >
            <fa-icon [icon]="faCopy"></fa-icon>
            Login
          </div>
          <div
            [cdkCopyToClipboard]="password.password ?? ''"
            (click)="$event.stopPropagation()"
            (cdkCopyToClipboardCopied)="showCopiedPopup()"
            style="padding-left: 0.5rem"
          >
            <fa-icon [icon]="faCopy"></fa-icon>
            Password
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
