<!-- <p>passwords works!</p>
<button (click)="logout()">LOGOUT</button> -->

<div class="container">
  <div class="passwords-list-container">
    <div class="header">
      <div class="header-actions">
        <img
          src="assets/icons/icon-512x512.png"
          style="max-height: 48px; max-width: 48px; margin-bottom: 0.5rem"
        />
        <div class="visibility-switch">
          <div
            class="visibility-switch-btn"
            [ngClass]="{ active: visibilityType == 'list' }"
            (click)="visibilityType = 'list'"
          >
            <fa-icon
              [icon]="faList"
              style="display: flex; align-items: center"
            ></fa-icon>
          </div>
          <div
            class="visibility-switch-btn"
            [ngClass]="{ active: visibilityType == 'grid' }"
            (click)="visibilityType = 'grid'"
          >
            <fa-icon
              [icon]="faGrip"
              style="display: flex; align-items: center"
            ></fa-icon>
          </div>
        </div>
        <div
          class="header-action-btn"
          #actionBtn
          (click)="actionContextVisible = !actionContextVisible"
        >
          <fa-icon
            [icon]="faGear"
            style="display: flex; align-items: center"
          ></fa-icon>
        </div>
        <div
          class="header-actions-context prevent-select"
          [ngClass]="{ visible: actionContextVisible }"
          #actionContext
        >
          <div class="header-actions-context-item">
            <fa-icon [icon]="faFileImport"></fa-icon>
            IMPORT
          </div>
          <div class="header-actions-context-item">
            <fa-icon [icon]="faFileExport"></fa-icon>
            EXPORT
          </div>
          <div class="header-actions-context-item">
            <fa-icon [icon]="faSliders"></fa-icon>
            SETTINGS
          </div>
          <div class="header-actions-context-item" [routerLink]="['/gdpr']">
            <fa-icon [icon]="faInfo"></fa-icon>
            ABOUT
          </div>
          <div class="header-actions-context-item" (click)="logout()">
            <fa-icon [icon]="faRightFromBracket"></fa-icon>
            LOGOUT
          </div>
        </div>
      </div>
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          position: relative;
        "
      >
        <div class="username">Hello {{ authSvc.username }}</div>
        <div style="visibility: hidden;">
          <img src="assets/nezuko.png" style="max-width: 57,25px; max-height: 55px;" />
        </div>
        <div style="position: absolute; right: 0; bottom: -9px;">
          <img src="assets/nezuko.png" style="max-width: 62px" />
        </div>
      </div>
    </div>
    <hr />
    <div class="search" style="margin-top: 0.5rem">
      <input type="text" autocomplete="off" placeholder="Search" />
    </div>
    <div [class]="'passwords-list ' + visibilityType">
      <div
        *ngFor="let password of passwords"
        class="password-list-item"
        [routerLink]="[password.Id]"
      >
        <div class="password-name">
          <span>
            {{ password.Name }}
          </span>
          <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
        </div>
        <hr />
        <div class="password-list-item-actions prevent-select">
          <div
            [cdkCopyToClipboard]="password.Login"
            (click)="$event.stopPropagation()"
          >
            <fa-icon [icon]="faCopy"></fa-icon>
            Login
          </div>
          <div
            [cdkCopyToClipboard]="password.Password"
            (click)="$event.stopPropagation()"
          >
            <fa-icon [icon]="faCopy"></fa-icon>
            Password
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
