@import "../../../../styles.scss";

.login-form {
  width: 100%;
  padding: 1rem;
  max-width: 400px;
  display: flex;
  flex-direction: column;

  .label {
    align-self: center;
    margin-bottom: 0.3rem;
  }

  .login-inputs {
    display: flex;
    flex-direction: column;
  }

  .signup-actions-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
