<form class="login-form" [formGroup]="signupForm">
  <div class="md:hidden flex justify-content-center">
    <img src="logo-192x192.png" style="max-height: 100px" />
  </div>
  <h1 class="m-0 mb-2" style="align-self: center">Sign up here! 👇</h1>
  <div class="flex flex-column gap-2">
    <label for="username">Username</label>
    <input
      pInputText
      type="text"
      id="username"
      formControlName="username"
      class="w-full"
    />
  </div>
  <div class="flex flex-column gap-2">
    <label for="email">Email</label>
    <input
      pInputText
      type="text"
      id="email"
      formControlName="email"
      class="w-full"
    />
  </div>
  <div class="flex flex-column gap-2">
    <label for="password">Password</label>
    <p-password
      [toggleMask]="true"
      formControlName="password"
      styleClass="w-full"
      inputStyleClass="w-full"
      inputId="password"
      [strongRegex]="strongRegex"
    />
  </div>
  <div>
    <p-checkbox formControlName="gdprAgree" inputId="gdprAgree" [binary]="true" />
    <label for="gdprAgree">
      Agree to
      <a class="text-primary" [routerLink]="['/about']">Terms and services?</a>
    </label>
  </div>
  <div class="flex flex-column gap-2">
    <p-button
      label="SIGN UP"
      [rounded]="true"
      styleClass="w-full"
      [disabled]="signupForm.invalid"
      (onClick)="onSignup()"
      [loading]="signupForm.disabled"
    />
    <div class="flex justify-content-between text-small">
      <a [routerLink]="['/auth', 'login']" class="text-primary text-xs">
        Have an account?
      </a>
    </div>
  </div>
</form>
