<!-- <p>passwords works!</p>
<button (click)="logout()">LOGOUT</button> -->

<div class="container">
  <div class="password-form-container">
    <div class="header">
      <img
        src="assets/icons/eren-ie--ga--.png"
        style="
          max-width: 40px;
          resize: vertical;
          position: absolute;
          top: -1rem;
          left: 5px;
          z-index: 1;
        "
      />
      <div class="header-actions">
        <img
          src="assets/icons/icon-512x512.png"
          style="max-height: 48px; max-width: 48px"
        />
        <div
          *ngIf="!isNotFound"
          style="
            margin: 0 0.5rem;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          "
        >
          {{ password.name ?? "New password" }}
        </div>
        <div class="action-btn" #actionBtn (click)="checkCanGoBack()">
          <fa-icon
            [icon]="faClose"
            style="display: flex; align-items: center; max-height: 10px"
          ></fa-icon>
        </div>
      </div>
    </div>
    <hr />
    <div
      class="form-container"
      *ngIf="passwordForm != undefined && !isNotFound"
    >
      <form [formGroup]="passwordForm">
        <div>
          <label for="name">Name (*)</label>
          <div>
            <input
              id="name"
              type="text"
              autocomplete="off"
              formControlName="name"
            />
          </div>
        </div>
        <div>
          <label for="login">Login (*)</label>
          <div>
            <input
              id="login"
              formControlName="id"
              type="text"
              autocomplete="off"
              formControlName="login"
            />
          </div>
        </div>
        <div>
          <label for="secondLogin">Secondary Login</label>
          <div>
            <input
              id="secondLogin"
              type="text"
              autocomplete="off"
              formControlName="secondLogin"
            />
          </div>
        </div>
        <div>
          <label for="password">Password (*)</label>
          <div>
            <input
              id="password"
              [type]="isPasswordVisible ? 'text' : 'password'"
              autocomplete="off"
              formControlName="password"
              class="input-with-action-btn"
            />
            <div
              class="input-action-btn input-middle-action-button"
              (click)="isPasswordVisible = !isPasswordVisible"
            >
              <fa-icon
                *ngIf="!isPasswordVisible"
                [icon]="faEye"
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  max-height: 10px;
                  width: 20px;
                "
              ></fa-icon>
              <fa-icon
                *ngIf="isPasswordVisible"
                [icon]="faEyeSlash"
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  max-height: 10px;
                  width: 20px;
                "
              ></fa-icon>
            </div>
            <div class="input-action-btn" (click)="generatePassword()">
              <fa-icon
                [icon]="faRandom"
                style="display: flex; align-items: center; max-height: 10px"
              ></fa-icon>
            </div>
          </div>
        </div>
        <hr />
        <div style="margin-top: 0.8rem">
          <label for="url">URL</label>
          <div>
            <input
              id="url"
              type="text"
              autocomplete="off"
              formControlName="url"
              class="input-with-action-btn"
            />
            <a
              [href]="password.url ?? ''"
              target="_blank"
              class="input-action-btn"
            >
              <fa-icon
                [icon]="faLink"
                style="
                  display: flex;
                  align-items: center;
                  max-height: 10px;
                  max-width: 16px;
                "
              ></fa-icon>
            </a>
          </div>
        </div>
        <div>
          <label for="secondLogin">Notes</label>
          <div>
            <textarea
              id="notes"
              autocomplete="off"
              formControlName="notes"
            ></textarea>
          </div>
        </div>
        <div *ngIf="!isNew" style="display: flex; justify-content: center">
          <button type="button" class="error" (click)="checkConfirmDelete()">
            DELETE
          </button>
        </div>
      </form>
    </div>
    <div
      class="footer-actions"
      *ngIf="passwordForm != undefined && !isNotFound"
    >
      <button class="error" style="width: 40%" (click)="checkCanGoBack()">
        CANCEL
      </button>
      <button
        [disabled]="!canSave"
        class="success"
        style="width: 40%"
        (click)="checkCanSave()"
      >
        SAVE
      </button>
    </div>
  </div>
</div>

<app-modal [isOpen]="activeModal == 'cancel'" (onDismiss)="dismissModal()">
  <h4 style="margin-bottom: 1rem">Continue?</h4>
  <p style="margin-bottom: 1rem">
    You have made some changes, if you continue you will lose them.
  </p>
  <div style="display: flex; justify-content: space-around">
    <button class="error" style="width: 40%" (click)="dismissModal()">
      CANCEL
    </button>
    <button class="success" style="width: 40%" (click)="goBack()">
      CONTINUE
    </button>
  </div>
</app-modal>

<app-modal [isOpen]="activeModal == 'save'" (onDismiss)="dismissModal()">
  <h4 style="margin-bottom: 1rem">Continue?</h4>
  <p style="margin-bottom: 1rem">
    If you continue, all your changes will be applied.
  </p>
  <div style="display: flex; justify-content: space-around">
    <button class="error" style="width: 40%" (click)="dismissModal()">
      CANCEL
    </button>
    <button class="success" style="width: 40%" (click)="save()">
      CONTINUE
    </button>
  </div>
</app-modal>

<app-modal [isOpen]="activeModal == 'delete'" (onDismiss)="dismissModal()">
  <h4 style="margin-bottom: 1rem">Continue?</h4>
  <p style="margin-bottom: 1rem">
    If you continue, this password will be deleted permanently.
  </p>
  <div style="display: flex; justify-content: space-around">
    <button class="error" style="width: 40%" (click)="dismissModal()">
      CANCEL
    </button>
    <button class="success" style="width: 40%" (click)="deletePassword()">
      CONTINUE
    </button>
  </div>
</app-modal>

<div
  *ngIf="passwordForm == undefined && isNotFound"
  style="
    position: absolute;
    top: 60px;
    left: 0;
    height: calc(100vh - 60px);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  "
>
  <h3 style="margin-bottom: 1rem">
    {{ "Password not found" }}
  </h3>
  <img
    src="assets/icons/broke-internet.png"
    style="resize: vertical; width: 100%; max-width: 320px"
  />
</div>
