<div class="h-full flex flex-column gap-3">
  <p-dataView
    class="flex-grow-1 shadow-2"
    [layout]="layout"
    [value]="filteredPasswords"
    classList="h-full"
    [loading]="loading"
    sortField="name"
    [sortOrder]="-1"
  >
    <ng-template pTemplate="header">
      <div
        class="flex justify-content-between align-items-center flex-wrap-reverse gap-2"
      >
        <p-iconField iconPosition="left" class="flex-grow-1 sm:max-w-20rem">
          <p-inputIcon styleClass="pi pi-search" />
          <input
            type="text"
            pInputText
            placeholder="Search"
            class="w-full"
            [formControl]="search"
          />
        </p-iconField>
        <div
          class="flex gap-2 flex-grow-1 sm:flex-grow-0 justify-content-between"
        >
          <div class="p-dataview-layout-options p-selectbutton p-buttonset">
            <button
              pButton
              icon="pi pi-bars"
              [ngClass]="{ 'p-highlight': layout == 'list' }"
              (click)="isGrid = false"
            ></button>
            <button
              pButton
              icon="pi pi-th-large"
              [ngClass]="{ 'p-highlight': layout == 'grid' }"
              (click)="isGrid = true"
            ></button>
          </div>
          <div class="flex align-items-center">
            <p-selectButton
              [options]="preferredOnlyOptions"
              [formControl]="preferredOnly"
              optionValue="value"
            >
              <ng-template let-item pTemplate>
                <i [class]="'pi ' + item.icon"></i>
              </ng-template>
            </p-selectButton>
          </div>
          <p-button
            icon="pi pi-plus"
            [text]="true"
            [routerLink]="['/passwords', 'new']"
          ></p-button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="list" let-passwords>
      <div class="grid grid-nogutter">
        <div
          *ngFor="let password of passwords; let first = first"
          class="col-12 flex flex-column gap-2 cursor-pointer p-3 text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple no-underline"
          pRipple
          [ngClass]="{ 'border-top-1 surface-border': !first }"
          [routerLink]="['/passwords', password._id]"
        >
          <div class="flex align-items-center justify-content-between">
            <div class="flex gap-2 align-items-center">
              <div
                (click)="$event.stopPropagation(); togglePreferred(password)"
                class="grid-item__favourite z-5 flex align-items-center"
              >
                <span
                  *ngIf="!password.preferred"
                  class="pi pi-star cursor-pointer"
                ></span>
                <span
                  *ngIf="password.preferred"
                  class="pi pi-star-fill cursor-pointer"
                ></span>
              </div>

              {{ password.name }}
            </div>
            <span class="pi pi-external-link"></span>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="grid" let-passwords>
      <div
        class="grid-content p-3 gap-2"
        *ngIf="passwords && passwords.length > 0"
      >
        <div
          *ngFor="let password of passwords"
          class="h-full p-2 py-3 border-1 border-primary surface-card border-round grid-item hover:shadow-3"
        >
          <div class="flex justify-content-between">
            <div
              class="h-full w-full white-space-nowrap overflow-hidden text-overflow-ellipsis grid-item__title"
              [routerLink]="['/passwords', password._id]"
            >
              {{ password.name }}
            </div>
            <div
              class="grid-item__favourite"
              (click)="togglePreferred(password)"
            >
              <span
                *ngIf="!password.preferred"
                class="pi pi-star cursor-pointer"
              ></span>
              <span
                *ngIf="password.preferred"
                class="pi pi-star-fill cursor-pointer"
              ></span>
            </div>
          </div>
          <p-divider></p-divider>
          <div class="flex flex-column">
            <div
              class="flex align-items-center cursor-pointer p-2 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple no-underline"
              [cdkCopyToClipboard]="password.login"
              pRipple
              (click)="clipboardCopied()"
            >
              <span class="pi pi-clipboard mr-2"></span> Login
            </div>
            <div
              class="flex align-items-center cursor-pointer p-2 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple no-underline"
              [cdkCopyToClipboard]="password.password"
              pRipple
              (click)="clipboardCopied()"
            >
              <span class="pi pi-clipboard mr-2"></span> Password
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="empty">
      <div>
        <div class="mb-2 flex justify-content-center">
          <img src="girl-cry-anime-1.png" style="max-height: 100px" />
        </div>
        <div>No Data, don't cry pls.</div>
      </div>
      <img
        src="dude-cry-anime-1.png"
        style="position: absolute; bottom: 0; left: 0; max-height: 30%"
      />
    </ng-template>
    <ng-template pTemplate="loadingicon">
      <p-progressSpinner ariaLabel="loading" strokeWidth="4" />
    </ng-template>
  </p-dataView>
</div>
