<p-scrollTop [threshold]="200"></p-scrollTop>
<main class="pb-8 md:pb-0" style="padding: 1rem; text-align: justify">
  <p-button label="Go back" [text]="true" icon="pi pi-chevron-left" [routerLink]="['/']" />
  <h1 class="mt-0" style="margin-bottom: 0.5rem">Terms, services, privacy</h1>
  <hr />
  <h2 style="margin-top: 1rem; margin-bottom: 0.5rem">Terms and privacy</h2>
  <p style="margin-bottom: 0.5rem">
    The data/personal information (login credentials and all saved passwords)
    are encrypted and stored into a secured database and nothing will be done
    with them (except for sending the password reset email).
  </p>
  <p>
    So, every information inserted into this web application are touched only to
    secure them.
  </p>
  <h2 style="margin-top: 1rem; margin-bottom: 0.5rem">Services</h2>
  <p style="margin-bottom: 0.5rem">
    This web application offers some simple tools to manage your passwords.
  </p>
  <p style="margin-bottom: 0.5rem">In details, you can:</p>
  <ul style="margin-left: 2rem; margin-bottom: 0.5rem">
    <li>Login and signup to manage your passwords</li>
    <li>Reset your account password if you forget it or want to change it</li>
    <li>Create, Read, Update, Delete password</li>
    <li>All the passwords created include those informations:</li>
    <ul style="margin-left: 2rem">
      <li>_id: created automatically, used to identify the password</li>
      <li>name: a name assigned to recognize the password required</li>
      <li>
        login: the login information to sign into the website (tipically email
        or username)
      </li>
      <li>secondLogin: if one website have a second login information</li>
      <li>password: the password to access into the website</li>
      <li>url: url of the password's website</li>
      <li>
        notes: some notes (e.g: a pin is required after login, you can store it
        here)
      </li>
      <li>userId: the user id whos belongs the password</li>
      <li>
        date create and date update: the creation/update date of the password
      </li>
    </ul>
    <li>Import / export the passwords</li>
    <li>Delete your account and all your data</li>
  </ul>
  <p style="margin-bottom: 0.5rem">
    This website is fully free, the developer will not earn any money with it
    (sigh)
  </p>
  <p style="margin-bottom: 0.5rem">
    For every information you can contact the developer at
    <a href="mailto:giorgiodotsdev@gmail.com">giorgiodotsdev&#64;gmail.com</a>
  </p>
  <p>
    <b>
      By accepting the terms and services you declare that the developer of this
      website assumes no responsibility of any attack, steal, corruption,
      accidental delete or any or any unwanted action performed on your data.
    </b>
  </p>
  <div style="margin-top: 1rem; text-align: center">
    {{
      "&copy; 2024 - " + now + " dpm.giorgio-dots.com - All Rights Reserved."
    }}
  </div>
</main>
