<p-toast
  [position]="'top-right'"
  [breakpoints]="{'576px': { width: '100%', right: '0', left: '0' }}"
/>
@if ((sessionRefreshed | async)) {
<router-outlet></router-outlet>
} @else {
<div class="h-full flex justify-content-center align-items-center">
  <div class="flex flex-column align-items-center gap-4">
    <p-progressSpinner
      styleClass="w-4rem h-4rem"
      strokeWidth="8"
      fill="var(--surface-ground)"
      animationDuration=".5s"
    />
    <span>Refreshing session, please wait</span>
  </div>
</div>
}
