<div style="height: 100%; width: 100%">
  <div
    *ngIf="messagesSvc.messages.length > 0"
    style="
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
    "
  >
    <h5 class="close-all-btn prevent-select" (click)="closeAllMessages()">
      Close all
    </h5>
    <div style="max-height: calc(100vh - 50px); overflow: scroll">
      <div
        *ngFor="let message of messagesSvc.messages"
        [class]="
          'message-banner' + ' message-banner-' + message.type.toString()
        "
      >
        <div class="close-message-btn" (click)="closeMessage(message)">
          <fa-icon [icon]="faXmark"></fa-icon>
        </div>
        <div class="copy-message-btn" [cdkCopyToClipboard]="message.message">
          <fa-icon [icon]="faCopy"></fa-icon>
        </div>
        {{ message.message }}
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
