<div class="h-full flex flex-column">
  <p-confirmDialog
    key="confirmDialog"
    position="bottom"
    rejectButtonStyleClass="p-button-outlined"
  />

  @if(passwordForm == undefined){
  <div class="flex-grow-1 flex flex-column">
    @if(!isNotFound){
      <div class="h-full flex justify-content-center align-items-center">
        <p-progressSpinner ariaLabel="loading" strokeWidth="4" />
      </div>
    }
    @if(isNotFound){
    <div
      class="h-full relative flex flex-column justify-content-center align-items-center"
    >
      <div>
        <div class="mb-2 flex justify-content-center">
          <img src="girl-cry-anime-1.png" style="max-height: 100px" />
        </div>
        <div>Not found, don't cry pls.</div>
      </div>
      <img
        src="dude-cry-anime-1.png"
        style="position: absolute; bottom: 0; left: 0; max-height: 30%"
      />
    </div>
    }
  </div>
  } @else {
  <form class="flex-grow-1 flex flex-column" [formGroup]="passwordForm">
    <div class="flex justify-content-center">
      <p-iconField iconPosition="right">
        <p-inputIcon styleClass="pi pi-pencil" />
        <input
          type="text"
          placeholder="Name"
          pInputText
          name="name"
          formControlName="name"
        />
      </p-iconField>
    </div>
    <p-divider />
    <div class="flex flex-column overflow-y-auto gap-3" style="flex: 1 0 0">
      <p-fieldset legend="Data" [toggleable]="true">
        <div class="flex flex-wrap gap-3" style="height: fit-content">
          <div class="form-input">
            <label for="login">Login *</label>
            <input
              pInputText
              type="text"
              id="login"
              autocomplete="off"
              placeholder="Login"
              formControlName="login"
              class="w-full"
            />
          </div>
          <div class="form-input">
            <label for="secondLogin">Secondary login</label>
            <input
              pInputText
              type="text"
              id="secondLogin"
              autocomplete="off"
              formControlName="secondLogin"
              placeholder="Secondary Login"
              class="w-full"
            />
          </div>
          <div class="form-input">
            <label for="password">Password *</label>
            <p-inputGroup>
              <p-password
                [toggleMask]="true"
                inputId="password"
                autocomplete="off"
                formControlName="password"
                placeholder="Password"
                class="w-full"
                inputStyleClass="w-full border-noround-right"
                styleClass="w-full"
              />
              <button type="button" pButton icon="pi pi-refresh" class="p-button-help" (click)="onGeneratePsw()"></button>
            </p-inputGroup>
            
          </div>
        </div>
      </p-fieldset>
      <p-fieldset legend="Extras" [toggleable]="true">
        <div class="flex flex-wrap mb-3">
          <div class="form-input">
            <label for="url">URL</label>
            <input
              pInputText
              type="text"
              id="url"
              autocomplete="off"
              formControlName="url"
              placeholder="URL"
              class="w-full"
            />
          </div>
        </div>
        <div class="flex flex-wrap">
          <div class="form-input">
            <label for="notes">Notes</label>
            <textarea
              rows="5"
              id="notes"
              autocomplete="off"
              formControlName="notes"
              class="w-full"
              pInputTextarea
            ></textarea>
          </div>
        </div>
      </p-fieldset>
    </div>
  </form>
  }
  <p-divider />
  <div class="flex justify-content-between">
    <p-button
      label="BACK"
      icon="pi pi-chevron-left"
      size="small"
      [text]="true"
      (onClick)="checkCanGoBack()"
      [disabled]="passwordForm != undefined && passwordForm.disabled"
    />
    @if(passwordForm != undefined){
    <div class="flex gap-3">
      @if (!isNew && !isNotFound) {
      <p-button
        label="DELETE"
        icon="pi pi-trash"
        size="small"
        severity="danger"
        (onClick)="onDelete()"
        [disabled]="passwordForm.disabled"
      />
      }
      <p-button
        label="SAVE"
        icon="pi pi-save"
        size="small"
        severity="success"
        [disabled]="!canSave || passwordForm.disabled"
        (onClick)="checkCanSave()"
      />
    </div>
    }
  </div>
</div>
